/* Hero Image Section */


div#products-hero-image {
    background-image: url(../assets/ampli-med.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: 700px;
}

/* MEDIA QUERIES */

/* @media screen and (max-width: 500px) {

    div#products-hero-image {
        background-image: url(../assets/ampli-small.jpg);
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 700px;
    }

} */