/*** FONTS ***/

@font-face {
    src: url(../fonts/Inter-Black.ttf);
    font-family: "Inter Black";
}

@font-face {
    src: url(../fonts/Inter-Bold.ttf);
    font-family: "Inter Bold";
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: "Inter";
}

// VARIABLES

    // Font Stacks

    $blackFontStack: "Inter Black", "Arial Black";
    $boldFontStack: "Inter Bold", "Arial Black";
    $regularFontStack: "Inter", "Arial";

    // Colors

    $ghost: #fff;
    $goblin: #000;
    $ghoul: #1a1918;
    $saunaOrange: #ffa224;

// MIXINS

@mixin navStyles {
    margin: 5px 15px;
    text-decoration: none;
}

@mixin headlineStyles {
    font-family: $blackFontStack;
    font-size: 58px;
    letter-spacing: -2px;
    line-height: 60px; 
    margin: 30px 0 30px 60px;
}

@mixin miniheadlineStyles {
    font-family: $boldFontStack;
}

@mixin paraStyles {
    margin: 20px 0 15px 0;
    padding-left: 30px;
    font-size: 17.5px;
    font-family: $regularFontStack;
    line-height: 32px;
    letter-spacing: 0.3px;
}

/* MAIN CSS */

h1 {
    @include headlineStyles;
}