/*** FONTS ***/

@font-face {
    src: url(../fonts/Inter-Black.ttf);
    font-family: "Inter Black";
}

@font-face {
    src: url(../fonts/Inter-Bold.ttf);
    font-family: "Inter Bold";
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: "Inter";
}

// VARIABLES

    // Font Stacks

    $blackFontStack: "Inter Black", "Arial Black";
    $boldFontStack: "Inter Bold", "Arial Black";
    $regularFontStack: "Inter", "Arial";

    // Colors

    $ghost: #fff;
    $goblin: #000;
    $ghoul: #1a1918;
    $saunaOrange: #ffa224;

// MIXINS

@mixin navStyles {
    margin: 5px 15px;
    text-decoration: none;
}

@mixin headlineStyles {
    font-family: $blackFontStack;
}

@mixin miniheadlineStyles {
    font-family: $boldFontStack;
}

@mixin paraStyles {
    margin: 20px 0 15px 0;
    padding-left: 30px;
    font-size: 17px;
    font-family: $regularFontStack;
    line-height: 32px;
    letter-spacing: 0.3px;
}

/****** MAIN CSS ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ghost;
}

/* Navigation Bar */

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    // box-shadow: 2px 2px 10px lightgrey;
    // position: fixed;
    // top: 0;
    // z-index: 1;
    // background-color: $ghost;
}

// Use JavaScript and CSS positioning to get the navBar to change color upon scroll down

// #navigationWhite {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px 0;
//     width: 100%;
//     box-shadow: 2px 2px 10px lightgrey;
//     position: fixed;
//     z-index: 1;
//     background-color: $ghost;
// }

#navigation div.logo-container {
    margin-left: 80px;
}

#navigation div.nav-links-container {
    margin-right: 80px;
}

#navigation div.nav-links-container a {
    @include navStyles;
    font-family: $boldFontStack;
    color: $goblin;
    // color: $ghost;
    transition: 0.3s ease-in-out;
}

#navigation div.nav-links-container a:hover {
    color: $saunaOrange;
}

#navigation div.hamburger-hidden {
   display: none;
}


/* Hero Image Section */


div#hero-image {
    margin: 0;
    background-image: url(../assets/concert.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

div#hero-image div.headline-container {
    margin: 0 auto;
    padding-top: 26%;
}

div#hero-image div.headline-container h1 {
    font-family: $blackFontStack;
    font-size: 110px;
    text-align: center;
    width: 100%;
    letter-spacing: -3px;
    line-height: 90px;
    color: $ghost;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

div#hero-image div.headline-container h2 {
    display: inline-block;
    margin: 0;
    margin-top: 7px;
    font-family: $boldFontStack;
    font-size: 30px;
    width: 100%;
    letter-spacing: -1px;
    color: $ghost;
    text-align: center;
}

div#hero-image div.headline-container h2 sup {
    font-size: 20px;
}


/* Guitar Tri-card Section */


section#tri-card {
    padding: 80px 0;
    background-color: $goblin;
}

section#tri-card h3.tri-card-headline {
    @include headlineStyles;
    margin: 40px auto;
    max-width: 53%;
    color: $ghost;
    text-align: center;
    font-size: 70px;
    letter-spacing: -1.8px;
}

section#tri-card p.tri-card-para {
    @include paraStyles;
    color: $ghost;
    margin: 40px auto;
    max-width: 55%;
}

section#tri-card div.tri-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

section#tri-card div.tri-card-container div.card {
    max-width: 30%;
    padding: 10px;
    margin: 10px 15px;
}

section#tri-card div.tri-card-container div.card img.main-img {
    width: 100%;
}

section#tri-card h4.tri-card-headline-mini {
    @include miniheadlineStyles;
    margin: 10px 0;
    font-size: 22px;
    color: $ghost;
    text-align: center;
    letter-spacing: 0.1px;
}

section#tri-card p.tri-card-para-min {
    margin: 20px 0;
    color: $ghost;
    line-height: 25px;
    font-family: $regularFontStack;
    font-size: 16px;
}

section#tri-card hr.tri-card-rule {
   border: 1px solid $ghoul;
   border-bottom:none;
   opacity: 0.2;
}

section#tri-card span.tri-card-span a {
    display: block;
    margin-top: 40px;
    padding-right: 100px;
    color: $saunaOrange;
    text-decoration: none;
    font-family: $boldFontStack;
    font-size: 20px;
    text-align: right;
}

/* Amp & Mic Section */

section#amp, section#mic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
  }

  section#mic {
    flex-direction: row-reverse;
  }
  
section#amp div.text-container, 
section#mic div.text-container {
    padding: 20px;
    width: 40%;
  }

section#amp div.image-container, 
section#mic div.image-container {
    width: 40%;
    overflow: hidden;
  }

section#amp div.image-container img, 
section#mic div.image-container img  {
    display: block;
    width: 100%;
    margin: 15px 0;
  }

section#amp h3.container-headline, 
section#mic h3.container-headline {
    margin: 20px 0;
    margin-top: 30px;
    padding-top: 0px;
    padding-left: 10px;
    color: $goblin;
    @include headlineStyles;
    font-size: 50px;
    letter-spacing: -1.8px;
    line-height: 60px;
}

section#amp p.container-para, 
section#mic p.container-para {
    @include paraStyles;
    color: $ghoul;
    padding-left: 10px;
}

section#amp span.span a, 
section#mic span.span a {
    display: inline-block;
    margin: 20px 0;
    margin-top: 15px;
    padding-left: 10px;
    font-family: $boldFontStack;
    font-size: 20px;
    color: $saunaOrange;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
  
/* SVG Section */

section#svg-highlight {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // align-items: center;
    background-color: $ghost;
    // background-color: #eee;
    padding: 10px 0;
    // padding-bottom: 120px;
}

section#svg-highlight h3 {
    @include headlineStyles;
    // line-height: 55px;
    color: $goblin;
    // margin: 30px auto;
    margin-bottom: 0;
    // max-width: 45%;
    text-align: center;
    // font-size: 70px;
}

section#svg-highlight p {
    @include paraStyles;
    // line-height: 55px;
    color: $goblin;
    margin: 30px 0;
    margin-bottom: 0;
    // max-width: 70%;
    text-align: center;
}

section#svg-highlight span.svg-span a {
    display: block;
    color: $saunaOrange;
    text-decoration: none;
    font-family: $boldFontStack;
    font-size: 20px;
    text-align: right;
    margin: 30px 0;
    margin-right: 80px;
}

div#svg-card-collection {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 40px;
    // background-color: $goblin;
}

div#svg-card-collection div.svg-card {
    padding: 20px;
    margin: 20px;
    max-width: 25%;
    // min-height: 200px;
    // min-width: 70%;
    // max-width: 70%;
    // background-color: $ghost;
    // border-radius: 6px;
    // border: 3px solid $saunaOrange;
}

div#svg-card-collection div.svg-card img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    text-align: center;
    // min-height: 200px;
    // min-width: 70%;
    // max-width: 70%;
    // background-color: $ghost;
    // border-radius: 6px;
}

div#svg-card-collection div.svg-card p {
    padding: 0;
    color: $goblin;
    text-align: center;
    font-family: $boldFontStack;
    font-size: 17px;
}

/* Newsletter Section */

section#newsletter {
    padding: 350px 0;
    background-image: url(../assets/guitar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#sign-up-container {
    margin-left: 20px;
    padding: 0;
}   

div#sign-up-container h3.sign-up-headline {
    margin: 10px 0 20px 0;
    padding-top: 0px;
    padding-left: 30px;
    @include headlineStyles;
    font-size: 50px;
    letter-spacing: -1.8px;
}

div#sign-up-container p.sign-up-para {
    @include paraStyles;
    color: $ghoul;
    width: 42%;
}

section#newsletter input {
    padding: 15px 0;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid $goblin;
    width: 39%;
    margin: 10px 30px;
    margin-right: 10px;
    font-family: $regularFontStack;
    font-size: 16px;
}

section#newsletter button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: $goblin;
    color: $ghost;
    font-family: $boldFontStack;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

#newsletter button:hover {
    background-color: $saunaOrange;
    color: $ghost;
}

/* Footer Section */

#footer {
    background-color: $goblin;
    padding: 50px 0 20px 0;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-nav div.footer-img-column {
    margin-left: 80px;
}

#footer-nav div.nav-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 200px;
}

#footer-nav div.nav-column {
    display: inline-block;
    margin: 10px 40px;
}

#footer-nav div.nav-column:nth-child(3) {
    margin-right: 0;
}

#footer-nav div.nav-column h5{
    display: block;
    margin: 18.5px 0;
    color: $saunaOrange;
    font-family: $blackFontStack;
    font-size: 14px;
}

#footer-nav div.nav-column a{
    display: block;
    padding: 0;
    margin: 15px 0;
    color: $ghost;
    text-decoration: none;
    font-family: $boldFontStack;
    font-size: 13px;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

#footer-nav div.nav-column a:hover{
    opacity: 0.3;
}

#footer p {
    color: $ghost;
    font-size: 13px;
    padding-left: 70px;
    font-family: $boldFontStack;
    margin-top: 20px;
    margin-bottom: 0px;
}

#footer hr {
    border: solid 1px $ghost;
    border-bottom:none;
    display: block;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 90%;
    opacity: 0.2;
}

#footer img {
    margin-top:20px;
    width: 200px;
    height: 100px;
}

#footer div.notice {
    background-color: $goblin;
    padding: 20px 0;  
}

#footer div.notice p {
    font-size: 8px;
    font-family: $regularFontStack;
    font-weight: normal;
    color: $ghost;
    text-align: right;
    padding-right: 70px;
}

#footer div.notice a {
    color: $saunaOrange;
    text-decoration: none;
}

/****** MEDIA QUERIES ******/

@media screen and (max-width: 1125px) {
    
    section#amp div.text-container, 
    section#mic div.text-container  {
        margin-left: 20px;
        margin-top: 20px;
        width: 50%;
      }

      #footer-nav div.nav-column-container {
        margin-right: 100px;
    }

}

@media screen and (max-width: 1063px) {
    
    
}

@media screen and (max-width: 1000px) {

    #navigation {
        justify-content: space-between;
    }

    #navigation div.nav-links-container {
        display: none;
    }

    #navigation div.hamburger-hidden {
        display: inline-block;
        margin-right: 80px;
        cursor: pointer;
    }

    div#hero-image div.headline-container {
        padding-top: 32%;
     } 

    div#hero-image div.headline-container h1 {
        font-size: 90px;
        letter-spacing: -2px;
        line-height: 80px;
    }

    section#amp, 
    section#mic {
        padding: 40px 0;
      }

    div#sign-up-container p.sign-up-para {
        width: 39%;
    }

    section#newsletter input {
        width: 50%;
    } 
    
    #footer-nav {
        display: block;
    }

    #footer-nav div.footer-img-column {
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    #footer-nav div.footer-img-column img {
        display: block;
        margin: 0 auto;
    }
    
    #footer-nav div.nav-column-container {
        justify-content: space-evenly;
        align-items: stretch;
        margin-right: 0;
    }
    
    #footer-nav div.nav-column {
        display: inline-block;
        margin: 10px 20px;
    }

    section#tri-card div.tri-card-container div.card {
        max-width: 35%;
    }

}

@media screen and (max-width: 916px) {

    section#amp, 
    section#mic {
        display: block;
      }

    section#amp div.text-container,
    section#mic div.text-container{
        margin: 0 auto;
        margin-top: 0;
        width: 65%;
        box-shadow: 3px 6px 20px lightgrey;
        border-radius: 4px;
      }

    section#amp div.text-container h3.container-headline,
    section#mic div.text-container h3.container-headline{
        margin-top: 0;
      }

    section#amp div.image-container,
    section#mic div.image-container {
        margin: 0 auto;
        width: 65%;
    }

    section#amp div.image-container img,
    section#mic div.image-container img {
        margin: 0 auto;
        width: 100%;
    }

}

@media screen and (max-width: 789px) {

    div#hero-image div.headline-container {
       padding-top: 45%;
    }

    div#hero-image div.headline-container h1 {
        font-size: 80px;
        line-height: 60px;
    }
    
    section#tri-card div.tri-card-container div.card {
        max-width: 70%;
    }

    section#newsletter input {
        width: 70%;
    } 

}

@media screen and (max-width: 700px) {

    div#hero-image div.headline-container h1 {
        font-size: 75px;
        line-height: 60px;
    }

} 

@media screen and (max-width: 654px) {

    div#hero-image div.headline-container {
        padding-top: 53%;
    }

    div#hero-image div.headline-container h1 {
        font-size: 65px;
        line-height: 50px;
    }

    section#amp div.text-container,
    section#mic div.text-container{
        width: 100%;
        box-shadow: 3px 6px 20px lightgrey;
        border-radius: none;
      }

    section#amp div.image-container,
    section#mic div.image-container {
        width: 100%;
    }

}

@media screen and (max-width: 533px) {

    section#newsletter {
        background-position: right;
    }

    div#sign-up-container {
        margin: 10px 0;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    div#sign-up-container p.sign-up-para {
        margin: 10px auto;
        padding: 15px;
        width: 80%;
        color: $goblin;
    }

    section#newsletter input {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
    
    section#newsletter button {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    #footer-nav div.nav-column {
        display: block;
        width: 100%;
    }

    #footer-nav div.nav-column h5 {
        text-align: center;
    }

    #footer-nav div.nav-column a {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    #footer p {
        padding-left: 0;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    #footer div.notice p {
        padding-right: 0;
        text-align: center;
    }

}



/* END OF ALL MEDIA QUERIES */