/*** FONTS ***/

@font-face {
    src: url(../fonts/Inter-Black.ttf);
    font-family: "Inter Black";
}

@font-face {
    src: url(../fonts/Inter-Bold.ttf);
    font-family: "Inter Bold";
}

@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: "Inter";
}

// VARIABLES

    // Font Stacks

    $blackFontStack: "Inter Black", "Arial Black";
    $boldFontStack: "Inter Bold", "Arial Black";
    $regularFontStack: "Inter", "Arial";

    // Colors

    $ghost: #fff;
    $goblin: #000;
    $ghoul: #1a1918;
    $saunaOrange: #ffa224;
    $navGrey: rgba(211, 207, 207, 0.5);

// MIXINS

@mixin heroStyles {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

@mixin navStyles {
    margin: 5px 15px;
    text-decoration: none;
}

@mixin headlineStyles {
    font-family: $blackFontStack;
}

@mixin miniheadlineStyles {
    font-family: $boldFontStack;
}

@mixin paraStyles {
    margin: 20px 0 15px 0;
    padding-left: 30px;
    font-size: 17px;
    font-family: $regularFontStack;
    line-height: 32px;
    letter-spacing: 0.3px;
}


/****** MAIN CSS ******/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $ghost;
}


/* Navigation Bar */


#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.navigationWhite {
    background-color: $ghost;
    box-shadow: 2px 2px 10px $navGrey;
} // Class added using JavaScript to get the navBar color to change when user scrolls down

#navigation div.logo-container {
    margin-left: 80px;
}

#navigation div.nav-links-container {
    margin-right: 80px;
}

#navigation div.nav-links-container a.navbar-transparent {
    @include navStyles;
    font-family: $boldFontStack;
    color: $ghost;
    transition: 0.3s ease-in-out;
}

#navigation div.nav-links-container a.navbar-opaque {
    @include navStyles;
    font-family: $boldFontStack;
    color: $goblin;
    transition: 0.3s ease-in-out;
}

#navigation div.nav-links-container a:hover {
    color: $saunaOrange;
}

#navigation div.hamburger-hidden {
   display: none;
}

#navigation div.hamburger-hidden svg {
//    fill: rgba(211, 207, 207, 1);
//    stroke: rgba(211, 207, 207, 1);
   fill: rgba(255, 162, 36, 1);
   stroke: rgba(255, 162, 36, 1);
}

// #navigation div.hamburger-hidden div.hamburger-links-modal{
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     background-color: $ghoul;
//     pointer-events: none;
//     transition: 0.5s ease-in-out;
//  }

// #navigation div.hamburger-hidden div.hamburger-links-modal a.hamburger-link{
//     display: block;
//     margin: 0 auto;
//     padding: 30px;
//     color: $ghost;
//     font-family: $boldFontStack;
//     font-size: 20px;
//     pointer-events: none;
//     text-align: center;
//     text-decoration: none;
//  }


/* Hero Image Section */


div#hero-image {
    background-image: url(../assets/concert-medium.jpg);
   @include heroStyles;
}

div#hero-image div.headline-container {
    margin: 0 auto;
    padding-top: 32.5%;
}

div#hero-image div.headline-container h1 {
    font-family: $blackFontStack;
    font-size: 110px;
    text-align: center;
    width: 100%;
    letter-spacing: -3px;
    line-height: 90px;
    color: $ghost;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

div#hero-image div.headline-container h2 {
    display: inline-block;
    margin: 0;
    margin-top: 7px;
    font-family: $boldFontStack;
    font-size: 30px;
    width: 100%;
    letter-spacing: -1px;
    color: $ghost;
    text-align: center;
}

div#hero-image div.headline-container h2 sup {
    font-size: 20px;
}


/* Intro Section */


section#intro {
    display: flex;
    align-items: center;
    padding: 80px 0;
    background-color: $goblin;
}

section#intro div.intro-text-container{
    width: 50%;
}

section#intro h3.intro-headline {
    padding: 15px;
    padding-bottom: 0;
    @include headlineStyles;
    margin: 40px auto;
    max-width: 75%;
    color: $ghost;
    // text-align: center;
    font-size: 60px;
    letter-spacing: -1.8px;
}

section#intro p.intro-para {
    @include paraStyles;
    padding: 15px;
    padding-top: 0;
    color: $ghost;
    margin: 40px auto;
    // padding-left: 0;
    max-width: 75%;
}

section#intro div.intro-image-container {
    width: 50%;
}

section#intro div.intro-image-container img {
    width: 100%;
}

// section#intro h4.tri-card-headline-mini {
//     @include miniheadlineStyles;
//     margin: 10px 0;
//     font-size: 22px;
//     color: $ghost;
//     text-align: center;
//     letter-spacing: 0.1px;
// }


/* SVG Section */


section#svg-highlight {
    background-color: $ghost;
    padding: 40px 0;
    padding-bottom: 10px;
}

section#svg-highlight h3 {
    @include headlineStyles;
    color: $goblin;
    margin: 30px auto;
    margin-bottom: 70px;
    max-width: 90%;
    text-align: center;
    font-size: 60px;
    letter-spacing: -1.8px;
}

section#svg-highlight p {
    @include paraStyles;
    color: $goblin;
    margin: 30px 0;
    margin-bottom: 0;
    text-align: center;
}

section#svg-highlight span.svg-span a {
    display: block;
    color: $saunaOrange;
    text-decoration: none;
    font-family: $boldFontStack;
    font-size: 20px;
    text-align: right;
    margin: 30px 0;
    margin-right: 80px;
}

div#svg-card-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

div#svg-card-collection div.svg-card {
    padding: 20px;
    margin: 20px;
    width: 15%;
    box-shadow: 3px 3px 10px $navGrey;
    border-radius: 6px;
}

div#svg-card-collection div.svg-card img {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    text-align: center;
}

div#svg-card-collection div.svg-card p {
    padding: 0;
    color: $ghoul;
    text-align: center;
    font-family: $regularFontStack;
    font-size: 15px;
    line-height: 25px;
}


/* Guitar, Amp, Mic & Picks Sections */


section#guitar, section#amp, section#mic, section#picks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
  }

  section#amp, section#picks {
    flex-direction: row-reverse;
  }
  
section#guitar div.text-container, 
section#amp div.text-container, 
section#mic div.text-container, 
section#picks div.text-container {
    padding: 20px;
    width: 40%;
    // box-shadow: 3px 6px 20px $navGrey;
    // border-radius: 4px;
  }

section#guitar div.image-container, 
section#amp div.image-container, 
section#mic div.image-container, 
section#picks div.image-container {
    width: 40%;
    overflow: hidden;
  }

section#guitar div.image-container img, 
section#amp div.image-container img, 
section#mic div.image-container img, 
section#picks div.image-container img  {
    display: block;
    width: 100%;
    margin: 15px 0;
  }

section#guitar h3.container-headline, 
section#amp h3.container-headline, 
section#mic h3.container-headline, 
section#picks h3.container-headline {
    margin: 20px 0;
    margin-top: 30px;
    padding-top: 0px;
    padding-left: 10px;
    color: $goblin;
    @include miniheadlineStyles;
    font-size: 50px;
    letter-spacing: -1.8px;
    line-height: 60px;
}

section#guitar p.container-para, 
section#amp p.container-para, 
section#mic p.container-para, 
section#picks p.container-para {
    @include paraStyles;
    color: $ghoul;
    padding-left: 10px;
}

section#guitar span.span a, 
section#amp span.span a, 
section#mic span.span a, 
section#picks span.span a {
    display: inline-block;
    margin: 20px 0;
    margin-top: 15px;
    padding-left: 10px;
    font-family: $boldFontStack;
    font-size: 20px;
    color: $saunaOrange;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}


/* Newsletter Section */


section#newsletter {
    margin-top: 100px;
    padding: 350px 0;
    background-image: url(../assets/guitar3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#sign-up-container {
    margin-left: 20px;
    padding: 0;
}   

div#sign-up-container h3.sign-up-headline {
    margin: 10px 0 20px 0;
    padding-top: 0px;
    padding-left: 30px;
    @include headlineStyles;
    font-size: 60px;
    letter-spacing: -1.8px;
}

div#sign-up-container p.sign-up-para {
    @include paraStyles;
    color: $ghoul;
    width: 42%;
}

section#newsletter input {
    padding: 15px 0;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid $goblin;
    width: 40%;
    margin: 10px 30px;
    margin-right: 10px;
    font-family: $regularFontStack;
    font-size: 16px;
}

section#newsletter button {
    padding: 15px;
    border-radius: 4px;
    border: none;
    background-color: $goblin;
    color: $ghost;
    font-family: $boldFontStack;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

// #newsletter button:hover {
//     background-color: $saunaOrange;
//     color: $ghost;
// }


/* Footer Section */


#footer {
    background-color: $goblin;
    padding: 50px 0 20px 0;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-nav div.footer-img-column {
    margin-left: 80px;
}

#footer-nav div.nav-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 200px;
}

#footer-nav div.nav-column {
    display: inline-block;
    margin: 10px 40px;
}

#footer-nav div.nav-column:nth-child(3) {
    margin-right: 0;
}

#footer-nav div.nav-column h5{
    display: block;
    margin: 18.5px 0;
    color: $saunaOrange;
    font-family: $blackFontStack;
    font-size: 14px;
}

#footer-nav div.nav-column a{
    display: block;
    padding: 0;
    margin: 15px 0;
    color: $ghost;
    text-decoration: none;
    font-family: $boldFontStack;
    font-size: 13px;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

#footer-nav div.nav-column a:hover{
    opacity: 0.3;
}

#footer p {
    color: $ghost;
    font-size: 13px;
    padding-left: 70px;
    font-family: $boldFontStack;
    margin-top: 20px;
    margin-bottom: 0px;
}

#footer hr {
    border: solid 1px $ghost;
    border-bottom:none;
    display: block;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 90%;
    opacity: 0.2;
}

#footer img {
    margin-top:20px;
    width: 200px;
    height: 100px;
}

#footer div.notice {
    background-color: $goblin;
    padding: 20px 0;  
}

#footer div.notice p {
    font-size: 8px;
    font-family: $regularFontStack;
    font-weight: normal;
    color: $ghost;
    text-align: right;
    padding-right: 70px;
}

#footer div.notice a {
    color: $saunaOrange;
    text-decoration: none;
}


/****** MEDIA QUERIES ******/


@media screen and (max-width: 1125px) {
    
    div#hero-image div.headline-container {
        padding-top: 38%;
    }

    section#guitar div.text-container, 
    section#amp div.text-container, 
    section#mic div.text-container, 
    section#picks div.text-container  {
        margin-left: 20px;
        margin-top: 20px;
        width: 50%;
    }

    div#svg-card-collection div.svg-card {
        width: 17%;
    }

    section#newsletter input {
    width: 44%;
    }

    #footer-nav div.nav-column-container {
    margin-right: 100px;
    }

}

@media screen and (max-width: 1063px) {

    section#intro {
        display: block;
    }
    
    section#intro div.intro-text-container, section#intro div.intro-image-container {
        margin: 0 auto;
        width: 60%;
    }
    
    section#intro h3.intro-headline, section#intro p.intro-para {
        text-align: center;
        max-width: 100%;
    }

}

@media screen and (max-width: 1000px) {

    div#hero-image div.headline-container {
        padding-top: 40.5%;
     } 

    div#hero-image div.headline-container h1 {
        font-size: 90px;
        letter-spacing: -2px;
        line-height: 80px;
    }

    section#guitar
    section#amp, 
    section#mic, 
    section#picks {
        padding: 40px 0;
    }
    
    div#svg-card-collection div.svg-card {
        width: 19%;
    }

    div#sign-up-container p.sign-up-para {
        width: 39%;
    }

    section#newsletter input {
        width: 55%;
    } 
    
    #footer-nav {
        display: block;
    }

    #footer-nav div.footer-img-column {
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    #footer-nav div.footer-img-column img {
        display: block;
        margin: 0 auto;
    }
    
    #footer-nav div.nav-column-container {
        justify-content: space-evenly;
        align-items: stretch;
        margin-right: 0;
    }
    
    #footer-nav div.nav-column {
        display: inline-block;
        margin: 10px 20px;
    }

}

@media screen and (max-width: 916px) {

    div#hero-image div.headline-container {
        padding-top: 40.5%;
     } 

    section#guitar, 
    section#amp, 
    section#mic, 
    section#picks {
        display: block;
      }

    section#guitar div.text-container,
    section#amp div.text-container,
    section#mic div.text-container,
    section#picks div.text-container{
        margin: 0 auto;
        margin-top: 0;
        width: 65%;
        box-shadow: 3px 6px 20px $navGrey;
        border-radius: 4px;
      }

    section#guitar div.text-container h3.container-headline,
    section#amp div.text-container h3.container-headline,
    section#mic div.text-container h3.container-headline,
    section#picks div.text-container h3.container-headline{
        margin-top: 0;
        font-size: 47px;
      }

    section#guitar div.image-container,
    section#amp div.image-container,
    section#mic div.image-container,
    section#picks div.image-container {
        margin: 0 auto;
        width: 65%;
    }

    section#guitar div.image-container img,
    section#amp div.image-container img,
    section#mic div.image-container img,
    section#picks div.image-container img {
        margin: 0 auto;
        width: 100%;
    }

}

@media screen and (max-width: 880px) {

    div#hero-image div.headline-container {
       padding-top: 44%;
    }

    section#intro div.intro-text-container, section#intro div.intro-image-container {
        margin: 0 auto;
        width: 80%;
    }

    div#svg-card-collection div.svg-card {
        width: 29%;
    }

}

@media screen and (max-width: 789px) {

    #navigation {
        justify-content: space-between;
    }

    #navigation div.nav-links-container {
        display: none;
    }

    #navigation div.hamburger-hidden {
        display: inline-block;
        margin-right: 80px;
        cursor: pointer;
    }

    div#hero-image div.headline-container {
       padding-top: 48%;
    }

    div#hero-image div.headline-container h1 {
        font-size: 80px;
        line-height: 60px;
    }

    section#newsletter {
        padding: 350px 0;
        background-image: url(../assets/guitar3-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section#newsletter input {
        width: 65%;
    } 

    div#sign-up-container p.sign-up-para {
        width: 60%;
    }

}

@media screen and (max-width: 700px) {

    div#hero-image div.headline-container {
        padding-top: 56%;
     } 

    div#hero-image div.headline-container h1 {
        font-size: 75px;
        line-height: 60px;
    }

} 

@media screen and (max-width: 654px) {

    div#hero-image div.headline-container {
        padding-top: 60%;
    }

    div#hero-image div.headline-container h1 {
        font-size: 65px;
        line-height: 50px;
    }

    section#guitar div.text-container,
    section#amp div.text-container,
    section#mic div.text-container,
    section#picks div.text-container{
        width: 90%;
        box-shadow: none;
        // border-radius: none;
      }

    section#guitar div.image-container,
    section#amp div.image-container,
    section#mic div.image-container,
    section#picks div.image-container {
        width: 90%;
    }

    section#svg-highlight h3 {
        font-size: 50px;
    }
    
    div#svg-card-collection div.svg-card {
        width: 50%;
    }

    #footer p {
        padding-left: 0;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    
    #footer div.notice p {
        padding-right: 0;
        text-align: center;
    }

}

@media screen and (max-width: 550px) {

    div#hero-image div.headline-container {
        padding-top: 83%;
    }

    div#hero-image div.headline-container h1 {
        font-size: 53px;
        line-height: 40px;
    }

    div#hero-image div.headline-container h2 {
        font-size: 25px;
    }

}

@media screen and (max-width: 533px) {

    div#hero-image {
        background-image: url(../assets/concert-small.jpg);
    }

    section#newsletter {
        background-position: right;
    }

    div#sign-up-container {
        margin: 10px 0;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    div#sign-up-container p.sign-up-para {
        margin: 10px auto;
        padding: 15px;
        width: 80%;
        color: $goblin;
    }

    section#newsletter input {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
    
    section#newsletter button {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    #footer-nav div.nav-column {
        display: block;
        width: 100%;
    }

    #footer-nav div.nav-column h5 {
        text-align: center;
    }

    #footer-nav div.nav-column a {
        text-align: center;
    }

}

@media screen and (max-width: 500px) {

    #navigation div.logo-container {
        margin-left: 50px;
    }

    #navigation div.hamburger-hidden {
        margin-right: 60px;
    }

}

/* END OF ALL MEDIA QUERIES */