/*** FONTS ***/
@font-face {
  src: url(../fonts/Inter-Black.ttf);
  font-family: "Inter Black";
}
@font-face {
  src: url(../fonts/Inter-Regular.ttf);
  font-family: "Inter";
}
@font-face {
  src: url(../fonts/Inter-Light-Beta.ttf);
  font-family: "Inter Light Beta";
}
/*** MAIN CSS ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial";
}

#navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: 2px 2px 6px lightgrey;
}

#navigation div.nav-links-container a {
  margin: 5px 15px;
  text-decoration: none;
  font-family: "Inter Black", "Arial Black";
  color: black;
  transition: 0.3s ease-in-out;
}

#navigation div.nav-links-container a:hover {
  color: #ffa224;
}

#navigation div.hamburger-hidden {
  display: none;
}

/* Hero Image Section */
#hero-image {
  margin: 0;
  background-image: url(../assets/concert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

#hero-image div.headline-container {
  position: absolute;
  top: 20%;
  left: 20%;
}

#hero-image div.headline-container h1 {
  font-family: "Inter Black", "Arial Black";
  font-size: 100px;
  width: 100%;
  letter-spacing: -3px;
  line-height: 100px;
  color: white;
  margin: 0;
  padding: 0;
}

#hero-image div.headline-container h2 {
  margin: 0;
  padding-top: 0px;
  padding-left: 100px;
  font-family: "Inter Black", "Arial Black";
  font-size: 70px;
  width: 100%;
  letter-spacing: -1px;
  line-height: 60px;
  color: white;
}

.headline-3 {
  margin: 40px 0 20px 0;
  padding-top: 0px;
  padding-left: 30px;
  font-family: "Inter Black", "Arial Black";
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  letter-spacing: -1px;
  line-height: 60px;
  color: black;
}

#tbc {
  padding: 70px 0;
}

.tbc-2 {
  margin-left: 70px;
}

.temp {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 18px;
  width: 42%;
  color: black;
  line-height: 30px;
}

.temp-span {
  display: inline-block;
  margin: 20px 0;
  margin-top: 5px;
  padding: 10px;
  margin-left: 20px;
  font-family: "Inter", "Arial";
  font-weight: bold;
  font-size: 24px;
  color: #ffa224;
  border-radius: 4px;
  cursor: pointer;
}

#newsletter {
  padding: 40px 0;
}

#newsletter input {
  padding: 15px 0;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid black;
  width: 40%;
  margin: 20px 40px;
  margin-right: 10px;
}

#newsletter button {
  padding: 12px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

#footer {
  background-color: black;
  padding: 50px 0 20px 0;
}

#footer p {
  color: white;
  font-size: 13px;
  padding-left: 60px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

#footer hr {
  border: solid 1px white;
  border-bottom: none;
  display: block;
  margin: 30px auto;
  margin-bottom: 10px;
  width: 90%;
  opacity: 0.2;
}

#footer img {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

div.nav-column {
  display: inline-block;
  margin: 10px 80px;
}

div.nav-column h5 {
  display: block;
  margin: 20px 0;
  color: #ffa224;
  font-family: "Inter Black", "Arial Black";
  font-size: 14px;
}

div.nav-column a {
  display: block;
  padding: 0;
  margin: 15px 0;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

div.nav-column a:hover {
  opacity: 0.3;
}

div.notice {
  background-color: black;
  padding: 20px 0;
}

div.notice p {
  font-size: 8px;
  font-family: consolas;
  color: white;
  text-align: right;
  padding-right: 70px;
}

div.notice a {
  color: #ffa224;
  text-decoration: none;
}

/*** MEDIA QUERIES ***/
@media screen and (max-width: 1125px) {
  #hero-image h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  #navigation {
    justify-content: space-around;
  }

  #navigation div.nav-links-container {
    display: none;
  }

  #navigation div.hamburger-hidden {
    display: inline-block;
  }
}
