/*** FONTS ***/
@font-face {
  src: url(../fonts/Inter-Black.ttf);
  font-family: "Inter Black";
}
@font-face {
  src: url(../fonts/Inter-Bold.ttf);
  font-family: "Inter Bold";
}
@font-face {
  src: url(../fonts/Inter-Regular.ttf);
  font-family: "Inter";
}
/****** MAIN CSS ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* Navigation Bar */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  box-shadow: 2px 2px 10px lightgrey;
  background-color: #fff;
}

#navigation div.logo-container {
  margin-left: 80px;
}

#navigation div.nav-links-container {
  margin-right: 80px;
}

#navigation div.nav-links-container a {
  margin: 5px 15px;
  text-decoration: none;
  font-family: "Inter Bold", "Arial Black";
  color: #000;
  transition: 0.3s ease-in-out;
}

#navigation div.nav-links-container a:hover {
  color: #ffa224;
}

#navigation div.hamburger-hidden {
  display: none;
}

/* Hero Image Section */
#hero-image {
  margin: 0;
  background-image: url(../assets/concert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

#hero-image div.headline-container {
  margin: 0 auto;
  padding-top: 26%;
}

#hero-image div.headline-container h1 {
  font-family: "Inter Black", "Arial Black";
  font-size: 110px;
  text-align: center;
  width: 100%;
  letter-spacing: -2px;
  line-height: 90px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

#hero-image div.headline-container h2 {
  display: inline-block;
  margin: 0;
  margin-top: 7px;
  padding-top: 0px;
  font-family: "Inter Bold", "Arial Black";
  font-size: 30px;
  width: 100%;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
}

#hero-image div.headline-container h2 sup {
  font-size: 20px;
}

/* Guitar Tri-card Section */
#tri-card {
  padding: 40px 0;
  padding-bottom: 60px;
}

#tri-card h3.tri-card-headline {
  font-family: "Inter Black", "Arial Black";
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  margin: 40px 0 20px 0;
  color: #000;
  text-align: center;
}

#tri-card p.tri-card-para {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 17.5px;
  font-family: "Inter", "Arial";
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #1a1918;
  text-align: center;
}

#tri-card .tri-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

#tri-card .tri-card-container div.card {
  max-width: 25%;
  padding: 10px;
  margin: 10px 15px;
  border-radius: 6px;
}

#tri-card .tri-card-container .card img.main-img {
  width: 100%;
  border-radius: 6px;
}

#tri-card h4.tri-card-headline-mini {
  font-family: "Inter Bold", "Arial Black";
  margin: 10px 0;
  font-size: 20px;
  color: #000;
  text-align: center;
  letter-spacing: 0.1px;
}

#tri-card p.tri-card-para-min {
  margin: 20px 0;
  color: #1a1918;
  line-height: 25px;
  font-family: "Inter", "Arial";
  font-size: 16px;
}

#tri-card hr.tri-card-rule {
  border: 1px solid #1a1918;
  border-bottom: none;
  opacity: 0.2;
}

#tri-card span.tri-card-span a {
  display: block;
  margin-top: 40px;
  padding-right: 200px;
  color: #ffa224;
  text-decoration: none;
  font-family: "Inter Bold", "Arial Black";
  font-size: 20px;
  text-align: right;
}

/* Intro Section */
#intro {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 80px 0;
}

#intro div.intro-text-container {
  margin-left: 20px;
  width: 40%;
}

#intro div.intro-image-container {
  margin-left: 20px;
  width: 40%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 6px;
}

#intro div.intro-image-container img {
  display: block;
  width: 100%;
  margin: 15px 0;
  border-radius: 6px;
}

#intro h3.intro-headline {
  font-family: "Inter Black", "Arial Black";
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  margin: 40px 0;
  margin-top: 0;
  padding-top: 0px;
  padding-left: 10px;
  color: #000;
  line-height: 60px;
}

#intro p.intro-para {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 17.5px;
  font-family: "Inter", "Arial";
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #1a1918;
  padding-left: 10px;
}

#intro span.intro-span a {
  display: inline-block;
  margin: 20px 0;
  margin-top: 15px;
  padding-left: 10px;
  font-family: "Inter Bold", "Arial Black";
  font-size: 20px;
  color: #ffa224;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

/* MICS SECTION */
#mic {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 80px 0;
}

#mic div.intro-text-container {
  margin-left: 20px;
  width: 40%;
}

#mic div.intro-image-container {
  margin-left: 20px;
  width: 40%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 6px;
}

#mic div.intro-image-container img {
  display: block;
  width: 100%;
  margin: 15px 0;
  border-radius: 6px;
}

#mic h3.intro-headline {
  font-family: "Inter Black", "Arial Black";
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  margin: 40px 0;
  margin-top: 0;
  padding-top: 0px;
  padding-left: 10px;
  color: #000;
  line-height: 60px;
}

#mic p.intro-para {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 17.5px;
  font-family: "Inter", "Arial";
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #1a1918;
  padding-left: 10px;
}

#mic span.intro-span a {
  display: inline-block;
  margin: 20px 0;
  margin-top: 15px;
  padding-left: 10px;
  font-family: "Inter Bold", "Arial Black";
  font-size: 20px;
  color: #ffa224;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

/* SVG Section */
#svg-highlight {
  background-color: #fff;
  padding: 40px 0;
}

#svg-highlight h3 {
  font-family: "Inter Black", "Arial Black";
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  color: #000;
  margin-bottom: 0;
  text-align: center;
}

#svg-highlight p {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 17.5px;
  font-family: "Inter", "Arial";
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #000;
  margin: 30px 0;
  margin-bottom: 0;
  text-align: center;
}

#svg-highlight span.svg-span a {
  display: block;
  color: #ffa224;
  text-decoration: none;
  font-family: "Inter Bold", "Arial Black";
  font-size: 20px;
  text-align: right;
  margin: 30px 0;
  margin-right: 80px;
}

#svg-card-collection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#svg-card-collection div.svg-card {
  padding: 20px;
  margin: 40px 10px;
}

#svg-card-collection div.svg-card img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  text-align: center;
}

#svg-card-collection div.svg-card p {
  padding: 0;
  color: #000;
  text-align: center;
  font-family: "Inter", "Arial";
  font-size: 16px;
}

/* Newsletter Section */
#newsletter {
  padding: 350px 0;
  background-image: url(../assets/guitar1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sign-up-container {
  margin-left: 20px;
  padding: 0;
}

#sign-up-container h3.sign-up-headline {
  font-family: "Inter Black", "Arial Black";
  font-size: 60px;
  letter-spacing: -1px;
  line-height: 60px;
  margin: 10px 0 20px 0;
  padding-top: 0px;
  padding-left: 30px;
}

#sign-up-container p.sign-up-para {
  margin: 20px 0 15px 0;
  padding-left: 30px;
  font-size: 17.5px;
  font-family: "Inter", "Arial";
  line-height: 32px;
  letter-spacing: 0.3px;
  color: #1a1918;
  width: 42%;
}

#newsletter input {
  padding: 15px 0;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #000;
  width: 39%;
  margin: 10px 30px;
  margin-right: 10px;
  font-family: "Inter", "Arial";
  font-size: 16px;
}

#newsletter button {
  padding: 15px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: "Inter Bold", "Arial Black";
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

/* Footer Section */
#footer {
  background-color: #000;
  padding: 50px 0 20px 0;
}

#footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-nav div.footer-img-column {
  margin-left: 80px;
}

#footer-nav div.nav-column-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 50px;
}

#footer-nav div.nav-column {
  display: inline-block;
  margin: 10px 70px;
}

#footer-nav div.nav-column:nth-child(3) {
  margin-right: 0;
}

#footer-nav div.nav-column h5 {
  display: block;
  margin: 18.5px 0;
  color: #ffa224;
  font-family: "Inter Black", "Arial Black";
  font-size: 15px;
}

#footer-nav div.nav-column a {
  display: block;
  padding: 0;
  margin: 15px 0;
  color: #fff;
  text-decoration: none;
  font-family: "Inter Bold", "Arial Black";
  font-size: 13.5px;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

#footer-nav div.nav-column a:hover {
  opacity: 0.3;
}

#footer p {
  color: #fff;
  font-size: 13px;
  padding-left: 70px;
  font-family: "Inter Bold", "Arial Black";
  margin-top: 20px;
  margin-bottom: 0px;
}

#footer hr {
  border: solid 1px #fff;
  border-bottom: none;
  display: block;
  margin: 20px auto;
  margin-bottom: 10px;
  width: 90%;
  opacity: 0.2;
}

#footer img {
  margin-top: 20px;
  width: 200px;
  height: 100px;
}

#footer div.notice {
  background-color: #000;
  padding: 20px 0;
}

#footer div.notice p {
  font-size: 8px;
  font-family: "Inter", "Arial";
  font-weight: normal;
  color: #fff;
  text-align: right;
  padding-right: 70px;
}

#footer div.notice a {
  color: #ffa224;
  text-decoration: none;
}

/****** MEDIA QUERIES ******/
@media screen and (max-width: 1125px) {
  #hero-image h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  #navigation {
    justify-content: space-between;
  }

  #navigation div.nav-links-container {
    display: none;
  }

  #navigation div.hamburger-hidden {
    display: inline-block;
  }
}
@media screen and (max-width: 770px) {
  #intro {
    display: block;
  }

  #intro div.intro-text-container {
    padding-left: 5px;
    width: 100%;
  }

  #intro div.intro-image-container {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  #intro div.intro-image-container img {
    width: 100%;
  }

  #intro h3.intro-headline {
    font-family: "Inter Black", "Arial Black";
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 60px;
    margin: 40px 0 20px 0;
    padding-top: 0px;
    padding-left: 30px;
    color: #000;
  }

  #intro p.intro-para {
    margin: 20px 0 15px 0;
    padding-left: 30px;
    font-size: 17.5px;
    font-family: "Inter", "Arial";
    line-height: 32px;
    letter-spacing: 0.3px;
    color: #1a1918;
  }

  #intro span.intro-span a {
    display: inline-block;
    margin: 20px 0;
    margin-top: 5px;
    padding-left: 10px;
    margin-left: 20px;
    font-family: "Inter Bold", "Arial Black";
    font-size: 20px;
    color: #ffa224;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
}
/* END OF ALL MEDIA QUERIES */
